@import "../../../theme/colors.css";

.close {
  position: fixed;
  top: 5%;
  right: 5%;
  color: gray;
  font-size: x-large;
}
.body {
  margin-top: 5%;
}
.title {
  border: none;
  border-bottom: 0.1px solid var(--dark);
  outline: none;
  font-size: xx-large;
}
.post {
  margin: 1px;
  padding: 3px;
  border: none;
  outline: none;
  resize: none;
}
.share {
  background-color: var(--green);
  width: 5%;
  text-align: center;
  border-radius: 10px;
  color: var(--light);
  font-size: 12px;
  padding: 3px;
  position: fixed;
  right: 8%;
  top: 8.5%;
}
